body {
  background-image: linear-gradient(79deg, #301eb5, #4066ad 48%, #fefefe);
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}




.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  margin: 1rem;
  border-width: 2px 0;
  
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    margin: 2rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}



.button-container button {
  margin: 1rem;
}


.company-table {
  border: 2px solid white;
  border-collapse: collapse;
  width: 100%;
}

.company-table th,
.company-table td {
  border: 2px solid white;
  padding: 10px;
  text-align: left;
}

.company-table th {
  background-color: #ddd;
}

.company-table td {
  text-align: justify;
}


